<!-- <app-peticiones-web [isCargando]="isCargando"></app-peticiones-web> -->
<mat-toolbar class="toolBarCat" [color]="'primary'">
    <button mat-icon-button  (click)="agregar()"  tabindex="-1" matTooltip="Agregar">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button  tabindex="-1" matTooltip="Modificar" (click)="modificar()"
        [disabled]="!itemSeleccionado">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button  matTooltip="Eliminar"   tabindex="-1" [hidden]="ocultarBTNEliminar" [disabled]="!itemSeleccionado"
        (click)="eliminar()">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button  (click)="consulta()" tabindex="-1" matTooltip="Recargar">
        <mat-icon>refresh</mat-icon>
    </button>
    <span class="Nombrecatalogo" >{{Nombrecatalogo}}</span>
    <span class="example-spacer"></span>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText class="dark" type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Búsqueda" />
        </span>

</mat-toolbar>
<p-toast position="top-right" key="esquinaSupDer"></p-toast>
<p-toast position="bottom-center" key="confirm">
  <ng-template let-message pTemplate="message">
    <div>

            <div class="text-center align-items-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 50px !important"></i>
              <h1>{{message.summary}}</h1>
              <p>{{message.detail}}</p>
            </div>


        <div class="row">
            <div class="col-md-6">
              <button mat-raised-button (click)="Confirmar()" color="primary">Confirmar</button>

                <!-- <button class="" type="button" pButton (  class="p-button-success">Confirmar</button> -->
            </div>
            <div class="col-md-6">
              <button mat-raised-button (click)="Cancelar()" color="warn">Cancelar</button>
                <!-- <button class="buttonMessage" type="button" pButton (click)="Cancelar()"  class="p-button-secondary">Cancelar</button> -->
            </div>
        </div>
    </div>
</ng-template>
</p-toast>
<div  style="overflow-x: scroll;width: 100% !important;">
    <p-table #dt [columns]="columns" [responsive]="true" [scrollable]="true"  styleClass="p-datatable-gridlines" [reorderableColumns]="true" [value]="dataSource" width="95%" scrollHeight="70vh" [resizableColumns]="true"
        selectionMode="single" [(selection)]="itemSeleccionado" dataKey="NUM" [rowHover]="true" >
        <ng-template pTemplate="colgroup">
          <colgroup>
              <col *ngFor="let col of columns">
          </colgroup>
      </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th pResizableColumn>CODIGO <p-sortIcon field="code"></p-sortIcon></th> -->
                <th  *ngFor="let col of columns" [title]="col.header" class="columnaNum" pReorderableColumn pResizableColumn  [pSortableColumn]="col.field"  style="width: 100% !important;">

                    <div class="headerGrid" >  <p-sortIcon [field]="col.field"></p-sortIcon>{{col.header}}</div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr [pSelectableRow]="rowData">
                <td  *ngFor="let col of columns" [ngClass]="formatoDatosTabla(col.field)" [title]="rowData[col.field]">
                    {{rowData[col.field]}}
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

