<mat-drawer-container class="Sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-selection-list [multiple]="false">
      <div *ngFor="let opcion of opcionesMenuPadre">
        <mat-list-option #matList *ngIf="opcion.visible" tabindex="-1"
          [ngClass]="cambiarEstiloscssOpcionPrincipal(opcion)" [matMenuTriggerFor]="menu"
          (click)="cambiarEstiloBtnPrin(opcion.ID)">
          <!-- <mat-icon mat-list-icon>{{opcion.ICONO}}</mat-icon> -->
          <div mat-line class="labelForm" *ngIf="opcion.visible">{{opcion.DESCRIPCION}}</div>
        </mat-list-option>
      </div>

    </mat-selection-list>
    <mat-menu #menu>
      <div *ngFor="let opcion of opcionesMenu">
        <button mat-menu-item *ngIf="opcion.PADRE === opcionPrincipal && opcion.visible" tabindex="-1"
          [ngClass]="cambiarEstilocss(opcion)" tabindex="-1" (click)="elegirVista(opcion.TEMPLATE)"
          class="Input">{{opcion.DESCRIPCION}}</button>
      </div>
    </mat-menu>
  </mat-drawer>

  <div class="sidenav-content">

    <mat-toolbar [color]="'primary'">
      <button mat-icon-button (click)="drawer.toggle()" tabindex="-1" matTooltip="Desplegar opciones">
        <mat-icon>{{icono}}</mat-icon>
      </button>
      <span (click)="elegirVista('RE')" class="NombreEmpresa">Para tu negocio</span>
    </mat-toolbar>
    <div class="container-fluid">
      <app-productos-comerciales *ngIf="componente === NombresComponetes.PRODCOMERCIAL"></app-productos-comerciales>
      <app-servicios *ngIf="componente === NombresComponetes.SERVICIOS"></app-servicios>
      <app-producto-fabricado *ngIf="componente === NombresComponetes.PRODFABRICADOS"></app-producto-fabricado>
      <app-materia-prima *ngIf="componente === NombresComponetes.MATERIAPRIMA"></app-materia-prima>
      <app-mano-de-obra *ngIf="componente === NombresComponetes.MANOSDOBRA"></app-mano-de-obra>
      <app-categoria *ngIf="componente === NombresComponetes.CATEGORIA"></app-categoria>
      <app-unidad-de-medida *ngIf="componente === NombresComponetes.UNIDADDMEDIDA"></app-unidad-de-medida>
      <app-materias-primas-asignados *ngIf="componente === NombresComponetes.ASIGNARMATERIASP">
      </app-materias-primas-asignados>
      <app-impuestos *ngIf="componente === NombresComponetes.IMPUESTOS"></app-impuestos>
      <app-compras *ngIf="componente === NombresComponetes.COMPRAS"></app-compras>
      <app-ventas *ngIf="componente === NombresComponetes.VENTAS"></app-ventas>
      <app-clientes *ngIf="componente === NombresComponetes.CLIENTES"></app-clientes>
      <app-proveedores *ngIf="componente === NombresComponetes.PROVEEDORES"></app-proveedores>
      <app-cuentas *ngIf="componente === NombresComponetes.CUENTAS"></app-cuentas>
      <app-usuarios
        *ngIf="componente === NombresComponetes.ADMINISTRARUSDUARIOS && NivelUsuario === TIPOUSUARIOS.ADMINISTRADOR">
      </app-usuarios>
    </div>



  </div>

</mat-drawer-container>
