<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="Info">
                <span>
                    "GASTOS DE OPERACIÓN" para el funcionamiento del negocio.
                </span>
                <br>
                <span>
                    El Proveedor del Gasto puede ser:
                    <br>
                    1) Un "PROVEEDOR DE SERVICIOS" como: Luz, Renta, Teléfono, Mantenimiento de equipo e inmuebeles, etc.
                    <br>
                    2) Un "PROVEEDOR DE PRODUCTOS" como: Papaleria, Gasolina, etc.
                </span>
                <br>
                <span>
                    Si el gasto es con Factura escribe el importe del IVA (donde señale la felcha).
                    <br>
                    El IVA del GASTO es un importe que servira para deducir ante el SAT (IVA Acreditable).
                    <br>
                    La "FORMA DE PAGO" al Proveedor puede ser:
                    <br>
                    1) EFECTIVO
                    <br>
                    2) BANCO (Cheque, Transferencia o Tarjet de Débiito)
                    <br>
                    3) CRÉDITO (El proveedor otorga un plazo para pagarle)
                    <br>
                    4) TARJETA (El pago es con tarjeta de crédito)
                </span>
                <br>
                <span>
                    El crédito otorgado por el Proveedor puede ser:
                    <br>
                    1) Por el importe Total del Gasto
                    <br>
                    2) Por una parte del Importe Total, debido a que se paga el saldo con efectivo o banco
                </span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Folio o # de referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">PROVEEDOR</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">CONCEPTO</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">ASIGNACIÓN</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe de GASTO (Sin IVA)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">IVA ==></mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Forma de Pago</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <div>
                        <mat-form-field>
                            <mat-label class="labelForm">Importe del Crédito (sin IVA)</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label class="labelForm">IVA del Crédito</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-toolbar class="toolBarCat">
                            <span>Datos del Banco</span>
                        </mat-toolbar>

                        <mat-form-field>
                            <mat-label class="labelForm">Nombre del Banco</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Número de Cuenta</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm"># de Referencia</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>