<mat-toolbar class="toolbarAyudaVentana" mat-dialog-title [color]="'primary'">
    <span class="titulo-Ayuda-Ventana labelForm">{{TituloVentana}}</span>
    <mat-icon class="cerrar-estilo-Ayuda " (click)="CerrarVentana()">close</mat-icon>
</mat-toolbar>
<mat-dialog-content class="contenido-ayuda-ventana">
    <mat-toolbar class="toolbarMatDialog">
        <button mat-icon-button class="sinborde" tabindex="-1"  matTooltip="Guardar"[matTooltipPosition]="'right'" (click)="guardar()">
            <mat-icon>save</mat-icon>
        </button>
        <!-- <button mat-icon-button class="sinborde" tabindex="-1">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="sinborde" tabindex="-1">
            <mat-icon>delete</mat-icon>
        </button> -->
    </mat-toolbar>
    <div class="container-fluid contenido">
        <app-peticiones-web [isCargando]="isCargando"></app-peticiones-web>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  >
                    <!-- codigo -->
                    <mat-label class="labelForm">Código</mat-label>
                    <input class="Input" matInput #inputNombre  [(ngModel)]="PRODC.CODIGO" autocomplete="off" name="codigo" [disabled]="modo == 'MODIFICAR'" (keydown)="presionaBoton($event)" (focus)="ObtenerFoco($event)" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- producto -->
                <mat-form-field  >
                    <mat-label class="labelForm">Producto</mat-label>
                    <input class="Input" matInput #inputMonto [(ngModel)]="PRODC.PRODUCTO" autocomplete="off" (focus)="ObtenerFoco($event)" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- cantidad -->
                <mat-form-field  >
                    <mat-label class="labelForm">Cantidad</mat-label>
                    <input class="Input" matInput #inputMonto [(ngModel)]="PRODC.CANTIDAD" autocomplete="off" (keypress)="validarTyping($event,'CANTIDAD')" (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>

            </div>
            <div class="col-md-6">
                <!-- precio de compra -->
                <mat-form-field >
                    <mat-label class="labelForm">Precio de compra</mat-label>
                    <input class="Input" matInput #inputDias [(ngModel)]="PRODC.PRECIOCOMP" autocomplete="off" (blur)="perderFoco('PRECIOCOMP')" (keypress)="validarTyping($event,'PRECIOCOMP')" (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- precio de venta -->
                <mat-form-field  >
                    <mat-label class="labelForm">Precio de venta</mat-label>
                    <input class="Input" matInput #inputDias [(ngModel)]="PRODC.PRECIOVENT" (blur)="perderFoco('PRECIOVENT')" autocomplete="off" (keypress)="validarTyping($event,'PRECIOVENT')" (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- costo actualizado -->
                <mat-form-field  >
                    <mat-label class="labelForm">Costo actualizado</mat-label>
                    <input class="Input" matInput #inputDias [(ngModel)]="PRODC.COSTACT" (blur)="perderFoco('COSTACT')" autocomplete="off" (keypress)="validarTyping($event,'COSTACT')" (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
        </div>
    </div>





</mat-dialog-content>
