<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="Info">
                <span>
                    El Pago de Capital no genera IVA.
                    <br>
                    El Pago de Interés si genera IVA
                    <br>
                    El Pago de Interes se hace después de llenar este registro y guardar los datos
                </span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Crédito</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">No. de Contrato o No. de Tarjeta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Proveedor Financiero</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe Pagado</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>