<mat-toolbar class="toolbarAyudaVentana" mat-dialog-title [color]="'primary'">
  <span class="titulo-Ayuda-Ventana labelForm">{{Nombrecatalogo}}</span>
  <mat-icon class="cerrar-estilo-Ayuda " (click)="CerrarVentana()">close</mat-icon>
</mat-toolbar>
<mat-dialog-content class="contenido-ayuda-ventana">

  <div class="container-fluid">
    <app-peticiones-web [isCargando]="isCargando"></app-peticiones-web>
    <mat-toolbar class="toolbarMatDialog">
      <button mat-icon-button class="sinborde" tabindex="-1" matTooltip="Guardar" (click)="guardar()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button (click)="agregar()" tabindex="-1" matTooltip="Agregar">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Eliminar" tabindex="-1" [disabled]="!itemSeleccionado" (click)="eliminar()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-toolbar>


    <div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field [color]="colorSelect" appearance="fill">
            <mat-label class="labelForm">Tipo documento</mat-label>
            <mat-select  class="Input" #CampoSelectPF (selectionChange)="cambiarColorSelectPF()" [(ngModel)]="tipoDoc"
              name="ProductoF">
              <mat-option *ngFor="let documento of listaDocumentos" [value]="documento.ID">
                {{documento.NOMBRE}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field [color]="colorSelect" appearance="fill">
            <mat-label  class="labelForm">Forma de pago</mat-label>
            <mat-select  class="Input" (selectionChange)="cambiarColorSelectPF()" [(ngModel)]="formaDePago" name="ProductoF">
              <mat-option *ngFor="let formaPago of listaFormasPago" [value]="formaPago.ID">
                {{formaPago.DESCRIP}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-radio-group  [(ngModel)]="tipoProd" [color]="'primary'" aria-label="Selecciona una opcion">
            <mat-radio-button #radioBtnP value="P" class="labelForm">Producto</mat-radio-button>
            <mat-radio-button value="M" class="labelForm">Materia prima</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label class="labelForm">Folio</mat-label>
            <input class="Input" matInput #inputCodigo [(ngModel)]="Folio" (focus)="ObtenerFoco($event)" autocomplete="off"
              name="codigo" (keydown)="presionaBoton($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label class="labelForm">Proveedor</mat-label>
            <input class="Input" matInput #inputCodigo [(ngModel)]="Proveedor" (focus)="ObtenerFoco($event)" autocomplete="off"
              name="codigo" (keydown)="presionaBoton($event)">
          </mat-form-field>
        </div>

      </div>

      <p-table #dt [responsive]="true" [columns]="columns" [scrollable]="true" styleClass="p-datatable-gridlines"
        [value]="dataSource" scrollHeight="55vh" selectionMode="single" [(selection)]="itemSeleccionado" dataKey="NUM"
        (onEditComplete)="terminarProcesoEditar($event)" (onEditInit)="inicarProcesoEdicion($event)">
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'NUM'"> <div class="headerGrid">#</div> <p-sortIcon class="iconoOrdenamiento" field="NUM"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'CODIGO_PROD'"> <div class="headerGrid">Código</div> <p-sortIcon class="iconoOrdenamiento" field="CODIGO_PROD"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'DESCRIPCION'"> <div class="headerGrid">Descripción</div><p-sortIcon class="iconoOrdenamiento" field="DESCRIPCION"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'CANTIDAD'"> <div class="headerGrid">Cantidad</div><p-sortIcon class="iconoOrdenamiento" field="CANTIDAD"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'COSTO'"> <div class="headerGrid">Costo (Unidad sin IVA)</div><p-sortIcon class="iconoOrdenamiento" field="COSTO">
              </p-sortIcon>
            </th>
            <th [pSortableColumn]="'PORCENTAJE'"> <div class="headerGrid">%Asignado</div><p-sortIcon class="iconoOrdenamiento" field="PORCENTAJE"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'IVA_PROD'"> <div class="headerGrid">IVA</div><p-sortIcon class="iconoOrdenamiento" field="IVA_PROD"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'TOTAL'"> <div class="headerGrid">Total</div><p-sortIcon class="iconoOrdenamiento" field="TOTAL"></p-sortIcon>
            </th>

          </tr>
        </ng-template>
        <ng-template pEditableColumn pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData">
            <!-- NUM -->
            <td>{{rowData.NUM}}</td>
            <!-- CODIGO -->
            <td pEditableColumn [pEditableColumnField]="'CODIGO_PROD'" [pEditableColumnRowIndex]="rowData.NUM">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input matInput class="textBoxEditC" [maxLength]="50" pInputText type="text"
                    [(ngModel)]="rowData.CODIGO_PROD">
                  <button mat-icon-button (click)="buscarProductos(rowData.NUM)">
                    <mat-icon>search</mat-icon>
                  </button>
                  <!-- <mat-form-field appearance="fill" class="seleccitonTemplate">
                    <mat-select [(ngModel)]="rowData.CODIGO" name="ProductoF"
                      (click)="inicarProcesoEdicion(rowData.NUM)" (selectionChange)="cambioDeOpcionSelect($event)">
                      <mat-option>Código | Materia Prima</mat-option>
                      <mat-option *ngFor="let MateriaP of listaMaterasP" [value]="MateriaP.CODIGO">
                        {{MateriaP.CODIGO}} | {{MateriaP.MATERIA_PRIMA}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field> -->

                </ng-template>
                <ng-template pTemplate="output">
                  {{rowData.CODIGO_PROD}}
                </ng-template>
              </p-cellEditor>
            </td>
            <!-- MATERIA -->
            <td>{{rowData.DESCRIPCION}}</td>
            <!-- CANTIDAD -->
            <td pEditableColumn [pEditableColumnField]="'CANTIDAD'" [pEditableColumnRowIndex]="rowData.NUM">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="textBoxEdit" (focus)="ObtenerFoco($event)" (keypress)="validarTyping($event,'CANTIDAD')" [maxLength]="10" pInputText
                    type="text" [(ngModel)]="rowData.CANTIDAD">
                </ng-template>
                <ng-template pTemplate="output">
                  {{dameFormatoCantidad(rowData.CANTIDAD)}}
                </ng-template>
              </p-cellEditor>

            </td>
            <!-- COSTO -->
            <td pEditableColumn [pEditableColumnField]="'COSTO'" [pEditableColumnRowIndex]="rowData.NUM">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="textBoxEdit" (focus)="ObtenerFoco($event)" (keypress)="validarTyping($event,'COSTO')" [maxLength]="10" pInputText
                    type="text" [(ngModel)]="rowData.COSTO">
                </ng-template>
                <ng-template pTemplate="output">
                  {{dameFormatoMoneda(rowData.COSTO)}}
                </ng-template>
              </p-cellEditor>
            </td>
            <!-- ASIGNADO -->
            <td pEditableColumn [pEditableColumnField]="'ASIGNADO'" [pEditableColumnRowIndex]="rowData.NUM">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input class="textBoxEdit" (focus)="ObtenerFoco($event)" (keypress)="validarTyping($event,'ASIGNADO')" [maxLength]="10" pInputText
                    type="text" [(ngModel)]="rowData.ASIGNADO">
                </ng-template>
                <ng-template pTemplate="output">
                  {{funcGenerales.formatoPorcentaje(rowData.ASIGNADO)}}
                </ng-template>
              </p-cellEditor>
            </td>
            <!-- IVA x Producto -->
            <td pEditableColumn [pEditableColumnField]="'IVA_PROD'" [pEditableColumnRowIndex]="rowData.NUM">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input matInput class="textBoxEditC" [maxLength]="50" pInputText type="text"
                  [(ngModel)]="rowData.IVA_PROD">
                <button mat-icon-button (click)="buscarImpuestos(rowData.NUM)">
                  <mat-icon>search</mat-icon>
                </button>
                  <!-- <input class="textBoxEdit" (focus)="ObtenerFoco($event)" (keypress)="validarTyping($event,'IVA_PROD')" [maxLength]="10" pInputText
                    type="text" [(ngModel)]="rowData.IVA_PROD"> -->
                </ng-template>
                <ng-template pTemplate="output">
                  {{funcGenerales.formatoPorcentaje(rowData.IVA_PROD)}}
                </ng-template>
              </p-cellEditor>
            </td>
            <!-- TOTAL -->
            <td> {{dameFormatoMoneda(rowData.TOTAL)}}</td>

          </tr>
        </ng-template>
      </p-table>
      <div class="row" style="margin-top: 5px;">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label class="labelForm">Importe (sin IVA)</mat-label>
            <input class="Input" matInput #inputImporte [(ngModel)]="importeSINIVA" (focus)="ObtenerFoco($event)" autocomplete="off"
              name="codigo" (keydown)="presionaBoton($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label class="labelForm">IVA</mat-label>
            <input class="Input" matInput #inputIVA [(ngModel)]="IVA" (focus)="ObtenerFoco($event)" autocomplete="off" name="codigo"
              (keydown)="presionaBoton($event)">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label class="labelForm">Total</mat-label>
            <input class="Input" matInput #imputTotal [(ngModel)]="Total" (focus)="ObtenerFoco($event)" autocomplete="off"
              name="codigo" (keydown)="presionaBoton($event)">
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>



</mat-dialog-content>
