<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="Info">
                <span>
                    El PERÍODO se refiere al que corresponda de dicho pago (Semana, Quincena, Mes, Bimestre, etc).
                    <br>
                    El ÁREA puede ser Ventas, Administración, Producción, Área General, etc.
                    <br>
                    En esta sección se escribe el importe, y en la sección de abajo se hace el desgloce
                </span>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">PERÍODO</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">ÁREA</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">IMPORTE DE COMISIONES (Sin IVA)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">IVA</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">FORMA DE PAGO</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                
            </div>
        </div>
    </div>
</div>