
    <app-peticiones-web [isCargando]="isCargando"></app-peticiones-web>
    <mat-toolbar class="toolBarCat" [color]="'primary'">
        <button mat-icon-button  (click)="agregar()"  tabindex="-1" matTooltip="Agregar">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button  tabindex="-1" matTooltip="Modificar" (click)="modificar()"
            [disabled]="!itemSeleccionado">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button  matTooltip="Eliminar"   tabindex="-1" [disabled]="!itemSeleccionado"
            (click)="eliminar()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button  (click)="consulta()" tabindex="-1" matTooltip="Recargar">
            <mat-icon>refresh</mat-icon>
        </button>
        <span class="Nombrecatalogo" >{{Nombrecatalogo}}</span>
        <span class="example-spacer"></span>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText class="dark" type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Búsqueda" />
            </span>

    </mat-toolbar>
    <div >
        <p-table #dt [columns]="columns" [responsive]="true" [scrollable]="true"  styleClass="p-datatable-gridlines" [value]="dataSource" scrollHeight="70vh" [reorderableColumns]="true"
            selectionMode="single" [(selection)]="itemSeleccionado" dataKey="NUM" >
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th pResizableColumn>CODIGO <p-sortIcon field="code"></p-sortIcon></th> -->
                    <th  *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn >
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </div>

