<mat-toolbar class="toolbarAyudaVentana" mat-dialog-title [color]="'primary'">
    <span class="titulo-Ayuda-Ventana labelForm">{{TituloVentana}}</span>
    <mat-icon class="cerrar-estilo-Ayuda " (click)="CerrarVentana()">close</mat-icon>
</mat-toolbar>
<mat-dialog-content class="contenido-ayuda-ventana">
    <mat-toolbar class="toolbarMatDialog">
        <button mat-icon-button class="sinborde" tabindex="-1" matTooltip="Guardar" [matTooltipPosition]="'right'" (click)="guardar()"  [disabled]="modo != 'ALTA'">
            <mat-icon>save</mat-icon>
        </button>
    </mat-toolbar>
    <div class="container-fluid contenido">
        <app-peticiones-web [isCargando]="isCargando"></app-peticiones-web>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field  >
                    <mat-label class="labelForm">Nombre de la categoría</mat-label>
                    <input   class="Input" matInput #inputCodigo [(ngModel)]="CatSrv.NOMBRE" (focus)="ObtenerFoco($event)" autocomplete="off" name="codigo" [disabled]="modo == 'MODIFICAR'"  (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
        </div>
    </div>





</mat-dialog-content>

