<mat-toolbar class="toolbarAyudaVentana" mat-dialog-title [color]="'primary'">
    <span class="titulo-Ayuda-Ventana labelForm">{{TituloVentana}}</span>
    <mat-icon class="cerrar-estilo-Ayuda " (click)="CerrarVentana()">close</mat-icon>
</mat-toolbar>
<mat-dialog-content class="contenido-ayuda-ventana">
    <mat-toolbar class="toolbarMatDialog">
        <button mat-icon-button class="sinborde" tabindex="-1"  matTooltip="Guardar"[matTooltipPosition]="'right'" (click)="guardar()">
            <mat-icon>save</mat-icon>
        </button>
    </mat-toolbar>
    <p-toast position="top-right" key="esquinaSupDer"></p-toast>
    <div class="container-fluid contenido">
        <app-peticiones-web [isCargando]="isCargando"></app-peticiones-web>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  >
                    <!-- Fecha -->
                    <mat-label class="labelForm">Fecha</mat-label>
                    <input type="date" matInput #inputNombre  [(ngModel)]="AcreeDiversos.FECHA" [maxLength]="25" autocomplete="off"  (keydown)="presionaBoton($event)" (focus)="ObtenerFoco($event)" >
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- Acreedor -->
                <mat-form-field  >
                    <mat-label class="labelForm">Acreedor</mat-label>
                    <input class="Input" matInput #inputNombre [(ngModel)]="AcreeDiversos.CLIENTE" [maxLength]="10" autocomplete="off"  (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- Folio -->
                <mat-form-field  >
                    <mat-label class="labelForm">Folio</mat-label>
                    <input class="Input" matInput #inputNombre [(ngModel)]="AcreeDiversos.FOLIO" [maxLength]="10" autocomplete="off"  (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- Factura o remisión -->
                <mat-form-field  >
                    <mat-label class="labelForm">Factura o Remision</mat-label>
                    <mat-select class="Input" [(ngModel)]="AcreeDiversos.F_O_R">
                        <mat-option *ngFor="let Tipo of F_O_R" [value]="Tipo.ID">
                          {{Tipo.DESC}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <!-- Importe -->
                <mat-form-field  >
                    <mat-label class="labelForm">Importe (Sin IVA)</mat-label>
                    <input class="Input" matInput #inputNombre [(ngModel)]="AcreeDiversos.IMPORTE" [maxLength]="10" autocomplete="off"  (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>

            </div>
            <div class="col-md-6">
                <!-- IVA -->
                <mat-form-field  >
                    <mat-label class="labelForm">IVA</mat-label>
                    <input class="Input" matInput #inputDias [(ngModel)]="AcreeDiversos.IVA"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'IVA')" (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
        </div>
        <div class="col-md-12">
            <!-- Concepto -->
            <mat-form-field  >
                <mat-label class="labelForm">Concepto</mat-label>
                <input class="Input" matInput #inputNombre [(ngModel)]="AcreeDiversos.CONCEPTO" autocomplete="off"  (focus)="ObtenerFoco($event)" (keydown)="presionaBoton($event)">
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>