<div class="container-fluid">
    <div class="row">
        <mat-toolbar class="toolBarCat" [color]="'primary'">
            <span>MODELO EFECTIVO CAPTURA</span>
        </mat-toolbar>
        <div class="col-md-4">
            <div>
                <mat-form-field style="width: 50% !important;">
                    <mat-label class="labelForm">DÍA</mat-label>
                    <input class="Input" matInput type="date">
                </mat-form-field>
            </div>
            <div>
                <mat-tab-group #MTG (selectedTabChange)="changeTab(MTG.selectedIndex)">
                    <ng-container *ngFor="let tab of tabs; let index = index">
                        <mat-tab [aria-label]="tabsActivos(index)" *ngIf="closedTabs.indexOf(index) < 0">
                            <ng-template mat-tab-label>
                                <div class="col" style="margin-left: 20px;">{{tab.name}} </div>
                                <button *ngIf="tab.name !== 'Inicio'" tabindex="-1" style="color:black" mat-icon-button
                                  (click)="closeTab(index)">
                                  <mat-icon>close</mat-icon>
                                </button>
                              </ng-template>

                            <span [ngSwitch]="tab.tabType">
                                <div *ngSwitchCase="0">
                                    <div>
                                        <mat-form-field>
                                            <mat-label class="labelForm">Tipo de captura</mat-label>
                                            <mat-select (selectionChange)="ocultar($event)" class="Input">
                                              <mat-option *ngFor="let P of Listado" [value]="P.ID">
                                                {{P.DESCRIP}}
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div *ngSwitchCase="1">
                                    <div #figureContainer style="width: 90% !important;"></div>
                                  </div>
                                  <div *ngSwitchCase="2">
                                    <div #figureContainer2></div>
                                  </div>
                                  <div *ngSwitchCase="3">
                                    <div #figureContainer3></div>
                                  </div>
                            </span>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>
            </div>
            <!-- Información lado izquierdo -->
            <div [hidden]="Inicio" class="Info">
                <span>
                1) Traspasos Efectivo a Banco, Banco a Banco y Viceversa
                <br>
                2) Cobro a clientes => por crédito otorgado
                <br>
                3) Pago Crédito a Proveedores
                <br>
                4) Gasto de operación
                <br>
                5) Pago de Crédito a Acreedores
                <br>
                6) Pago de IVA (por ajuste o por pago)
                <br>
                7) Compra y Venta de Activos Fijos
                <br>
                8) Préstamo (recibido/entregado)
                <br>
                9) Pago/Cobro del préstamo
                <br>
                10) Interés pagado y cobrado
                <br>
                11) ISR e Impuestos Diversos
                <br>
                12) Depreciación
                </span>
            </div>
            <!-- DE EFECTIVO => A BANCO -->
            <div [hidden]="Uno">
                <mat-form-field>
                    <mat-label class="labelForm">Folio o # de referencia</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">DESTINO (¿Para qué?)</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">Importe DEPOSITADO AL BANCO</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <div class="Info">SALIDA de CAJA ==> para DEPOSITAR a BANCO</div>
            </div>
            <!-- DE BANCO => A EFECTIVO -->
            <div [hidden]="Dos">
                <mat-form-field>
                    <mat-label class="labelForm">Folio o # de referencia</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">DESTINO (¿Para qué?)</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">Importe SALIDA DE BANCO</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <div class="Info">SALIDA de BANCO ==> para tener EFECTIVO en CAJA</div>
            </div>
            <!-- DE BANCO => A BANCO -->
            <div [hidden]="Tres">
                <mat-form-field>
                    <mat-label class="labelForm">Folio o # de referencia</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">DESTINO (¿Para qué?)</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">Importe TRANSFERIDO</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <div class="Info">Traspasos de BANCO a BANCO</div>
            </div>
            <!-- COBRO A CLIENTES -->
            <div [hidden]="Cuatro">
                <div class="Info">
                    <span>
                        Si la VENTA AL CLIENTE fue con FACTURA escribe el importe del IVA que se está cobrando (donde señala la flecha).
                        <br>
                        El IVA de "Cobro de Crédito a Clientes" es un importe que se tiene que pagar al SAT (IVA POR PAGAR).
                    </span>
                    <br>
                    <span>
                        La "FORMA DE COBRO" al Cliente puede ser:
                        <br>
                        1) Efectivo
                        <br>
                        2) Banco (Depositamos lo que el cliente paga con cheque, transferencia o tarjeta de credito)
                    </span>
                    <br>
                    <span>COBRO a CLIENTES por CRÉDITO OTORGADO</span>
                </div>
            </div>
            <!-- PAGO CREDITO PROVEEDORES -->
            <div [hidden]="Cinco">
                <div class="Info">
                    <span>
                        Si la COMPRA fue con FACTURA escribe el importe del IVA que se está cobrando (donde señala la flecha).
                        <br>
                        El importe del IVA servirá para deducir ante el SAT (IVA Acreditable).
                    </span>
                    <br>
                    <span>
                        La "FORMA DE PAGO" al Proveedor puede ser:
                        <br>
                        1) Efectivo
                        <br>
                        2) Banco (El pago al Proveedor es con chueque o transferencia)
                    </span>
                    <br>
                    <span>PAGO CREEDITO A PROVEEDORES</span>
                </div>
            </div>
            <!-- GASTO -->
            <div [hidden]="Seis">
                <div class="Info">
                    <span>
                        "GASTOS DE OPERACIÓN" para el funcionamiento del negocio.
                    </span>
                    <br>
                    <span>
                        El Proveedor del Gasto puede ser:
                        <br>
                        1) Un "PROVEEDOR DE SERVICIOS" como: Luz, Renta, Teléfono, Mantenimiento de equipo e inmuebeles, etc.
                        <br>
                        2) Un "PROVEEDOR DE PRODUCTOS" como: Papaleria, Gasolina, etc.
                    </span>
                    <br>
                    <span>
                        Si el gasto es con Factura escribe el importe del IVA (donde señale la felcha).
                        <br>
                        El IVA del GASTO es un importe que servira para deducir ante el SAT (IVA Acreditable).
                        <br>
                        La "FORMA DE PAGO" al Proveedor puede ser:
                        <br>
                        1) EFECTIVO
                        <br>
                        2) BANCO (Cheque, Transferencia o Tarjet de Débiito)
                        <br>
                        3) CRÉDITO (El proveedor otorga un plazo para pagarle)
                        <br>
                        4) TARJETA (El pago es con tarjeta de crédito)
                    </span>
                    <br>
                    <span>
                        El crédito otorgado por el Proveedor puede ser:
                        <br>
                        1) Por el importe Total del Gasto
                        <br>
                        2) Por una parte del Importe Total, debido a que se paga el saldo con efectivo o banco
                    </span>
                </div>
            </div>
            <!-- PAGO DEUDA A ACREEDORES -->
            <div [hidden]="Siete">
                <div class="Info">
                    <span> Es el PAGO del CRÉDITO que otorgo el PROVEEDOR de SERVICIO o PRODUCTO OPERATIVO (Gasto Operativo).</span>
                    <br>
                    <span>
                        Si el PAGO proviene de una Factura, escribe el importe del IVA (donde señale la flecha).
                        El IVA del gasto servira para deducir ante el SAT (IVA Accreditable).
                    </span>
                    <br>
                    <span>
                        La FORMA DE PAGO al Proveeedor (Acreedor) puede ser:
                        <br>
                        1) EFECTIVO
                        <br>
                        2) BANCO (Cheque, transferencia o tarjeta de débito)
                    </span>
                </div>
            </div>
            <!-- NÓMINA Y PRESTACIONES -->
            <div [hidden]="Ocho">
                <div class="Info">
                    <span>
                        El PERÍODO se refiere al que corresponda de dicho pago (Semana, Quincena, Mes, Bimestre, etc).
                        <br>
                        El ÁREA puede ser Ventas, Administración, Producción, Área General, etc.
                        <br>
                        En esta sección se escribe el importe, y en la sección de abajo se hace el desgloce
                    </span>
                </div>
            </div>
            <!-- COMISIONES -->
            <div [hidden]="Nueve">
                <div class="Info">
                    <span>
                        El PERÍODO se refiere al que corresponda de dicho pago (Semana, Quincena, Mes, Bimestre, etc).
                        <br>
                        El ÁREA puede ser Ventas, Administración, Producción, Área General, etc.
                        <br>
                        En esta sección se escribe el importe, y en la sección de abajo se hace el desgloce
                    </span>
                </div>
            </div>
            <!-- PAGO DEL IVA -->
            <div [hidden]="Diez">
                <div class="Info">
                    <span>
                        El pago del IVA, puede ser:
                        <br>
                        1) En Efectivo
                        <br>
                        2) En Banco (Cheque o transferencia)
                        <br>
                        3) Ajuste del IVA (No hay salida de dinero, simplemente se utiliza el IVA ACREDITABLE para "Disminuir" el IVA POR PAGAR)
                    </span>
                </div>
            </div>
            <!-- COMPRA ACTIVO FIJO -->
            <div [hidden]="Once">
                <div class="Info">
                    <span>
                        Aqui se registran las compras de Activos Fijos
                    </span>
                    <br>
                    <span>
                        Clasificacion = Mobiliario, Equipo Tecnológico, Maquinaria, Transportes, Inmuebles
                    </span>
                    <br>
                    <span>
                        La FORMA DE PAGO al Proveedor puede ser:
                        <br>
                        1) Efectivo
                        <br>
                        2) Banco (Pago con cheque, transferencia o tarjeta de débito)
                        <br>
                        3) Crédito (El Proveedor otorga un plazo para pagarle)
                        <br>
                        4) Tarjeta (El pago es con tarjeta de crédito)
                    </span>
                </div>
            </div>
            <!-- VENTA ACTIVO FIJO -->
            <div [hidden]="Doce">
                <div class="Info">
                    <div>
                        <span>
                            Si la Venta es con FACTURA escribe el  importe del IVA (donde señale la flecha).
                            <br>
                            El IVA de Ventas es por un importe es por un importe que se tiene que pagar al SAT (IVA Por Pagar).
                            <br>
                            La Forma de Cobro al Cliente puede ser:
                            <br>
                            1) Efectivo
                            <br>
                            2) Banco (El Cliente paga con cheque, transferencia o tarjeta de crédito)
                            <br>
                            3) Crédito (Se le da un plazo al Cliente para que pague)
                        </span>
                    </div>
                    <div>
                        <span>
                            El Crédito otorgado al Cliente puede ser:
                            <br>
                            1) Por el Total de la Ventas
                            <br>
                            2) Por una parte del importe Total, debido a que el Cliente paga el saldo con Efectivo o Banco
                        </span>
                    </div>
                </div>
            </div>
            <!-- PRÉSTAMO RECIBIDO -->
            <div [hidden]="Trece"></div>
            <!-- PAGO DEL PRESTAMO -->
            <div [hidden]="Catorce">
                <div class="Info">
                    <span>
                        El Pago de Capital no genera IVA.
                        <br>
                        El Pago de Interés si genera IVA
                        <br>
                        El Pago de Interes se hace después de llenar este registro y guardar los datos
                    </span>
                </div>
            </div>
            <!-- INTERÉS PAGADO -->
            <div [hidden]="Quince"></div>
            <!-- PRÉSTAMO OTORGADO -->
            <div [hidden]="Dieciseis"></div>
            <!-- COBRO DEL PRÉSTAMO -->
            <div [hidden]="Diecisiete"></div>
            <!-- INTERÉS COBRADO -->
            <div [hidden]="Dieciocho"></div>
            <!-- DEPRECIACIÓN-->
            <div [hidden]="Diecinueve">
                <div class="Info">
                    <span>
                        En es Registro NO INCLUYE el Impuesto Sobre la Renta (ISR)
                    </span>
                </div>
            </div>
            <!-- IMPUESTOS -->
            <div [hidden]="Veinte">

            </div>
            <!-- ISR -->
            <div [hidden]="Veintiuno"></div>
        </div>
        <!-- INFORMACION LADO DERECHO -->
        <div class="col-md-8">
            <!-- DE EFECTIVO => A BANCO -->
            <div [hidden]="Uno">
                <mat-toolbar class="toolBarCat">
                    <span>Datos del Banco</span>
                </mat-toolbar>

                <mat-form-field>
                    <mat-label class="labelForm">Nombre del Banco</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">Numero de Cuenta</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm"># Referencia</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>
            </div>
            <!-- DE BANCO => A EFECTIVO -->
            <div [hidden]="Dos">
                <mat-toolbar class="toolBarCat">
                    <span>Datos del Banco</span>
                </mat-toolbar>

                <mat-form-field>
                    <mat-label class="labelForm">Nombre del Banco</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">Numero de Cuenta</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm"># Referencia</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>
            </div>
            <!-- DE BANCO => A BANCO -->
            <div class="row" [hidden]="Tres">
                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Es el BANCO donde SALE el dinero</span>
                    </mat-toolbar>
    
                    <mat-form-field>
                        <mat-label class="labelForm">BANCO ORIGEN</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">NÚMERO DE CUENTA</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Es el BANCO donde LLEGARA el dinero</span>
                    </mat-toolbar>
    
                    <mat-form-field>
                        <mat-label class="labelForm">BANCO DESTINO</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">NÚMERO DE CUENTA</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm"># Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- COBRO A CLIENTES -->
            <div class="row" [hidden]="Cuatro">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm"># de Remisión o Factura</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Cliente</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe de COBRO A CLIENTES (Sin IVA)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">IVA ==></mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Forma de Cobro</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <div>
                        <mat-toolbar class="toolBarCat">
                            <span>Datos del Banco</span>
                        </mat-toolbar>

                        <mat-form-field>
                            <mat-label class="labelForm">Nombre del Banco</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Número de Cuenta</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm"># de Referencia</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- PAGO CREDITO PROVEEDORES -->
            <div class="row" [hidden]="Cinco">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm"># de Remisión o Factura</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">PROVEEDOR</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe de PAGO CREDITO PROVEEDORES (Sin IVA)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">IVA ==></mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Forma de Pago</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <div>
                        <mat-toolbar class="toolBarCat">
                            <span>Datos del Banco</span>
                        </mat-toolbar>

                        <mat-form-field>
                            <mat-label class="labelForm">Nombre del Banco</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Número de Cuenta</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm"># de Referencia</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- GASTO -->
            <div class="row" [hidden]="Seis">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Folio o # de referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">PROVEEDOR</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">CONCEPTO</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">ASIGNACIÓN</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe de GASTO (Sin IVA)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">IVA ==></mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Forma de Pago</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <div>
                        <mat-form-field>
                            <mat-label class="labelForm">Importe del Crédito (sin IVA)</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label class="labelForm">IVA del Crédito</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-toolbar class="toolBarCat">
                            <span>Datos del Banco</span>
                        </mat-toolbar>

                        <mat-form-field>
                            <mat-label class="labelForm">Nombre del Banco</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Número de Cuenta</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm"># de Referencia</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- PAGO DEUDA A ACREEDORES -->
            <div class="row" [hidden]="Siete">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Folio o # de referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Proveedor (ACREEDOR)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Concepto</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Asignación</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe de Pago Deuda a Acreedores (Sin IVA)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">IVA ==></mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Forma de pago</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- NÓMINA Y PRESTACIONES -->
            <div  [hidden]="Ocho">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label class="labelForm">PERÍODO</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">ÁREA</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">IMPORTE PAGADO</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">FORMA DE PAGO</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-toolbar class="toolBarCat">
                            <span>Datos del Banco</span>
                        </mat-toolbar>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Nombre del Banco</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Número de Cuenta</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm"># de Referencia</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    
                </div>
            </div>
            <!-- COMISIONES -->
            <div [hidden]="Nueve">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label class="labelForm">PERÍODO</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">ÁREA</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">IMPORTE DE COMISIONES (Sin IVA)</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label class="labelForm">IVA</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">FORMA DE PAGO</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-toolbar class="toolBarCat">
                            <span>Datos del Banco</span>
                        </mat-toolbar>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Nombre del Banco</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Número de Cuenta</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm"># de Referencia</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    
                </div>
            </div>
            <!-- PAGO DEL IVA -->
            <div class="row" [hidden]="Diez">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Período</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Importe</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">FORMA DE PAGO</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- COMPRA ACTIVO FIJO -->
            <div [hidden]="Once">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label class="labelForm"># de Remisión o Factura</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Proveedor</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Importe de Compra Activo Fijo (Sin IVA)</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">IVA</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">FORMA DE PAGO</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-6">
                        <div>
                            <mat-toolbar class="toolBarCat">
                                <span>Datos del Banco</span>
                            </mat-toolbar>
        
                            <mat-form-field>
                                <mat-label class="labelForm">Nombre del Banco</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label class="labelForm">Número de Cuenta</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label class="labelForm"># de Referencia</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- VENTA ACTIVO FIJO -->
            <div [hidden]="Doce">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field>
                            <mat-label class="labelForm"># de Remisión o Factura</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Cliente</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label class="labelForm">Clasificación Activo</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">Importe de Venta Activo Fijo (Sin IVA)</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">IVA</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
    
                        <mat-form-field>
                            <mat-label class="labelForm">FORMA DE PAGO</mat-label>
                            <input class="Input" matInput>
                        </mat-form-field>
                    </div>
    
                    <div class="col-md-6">
                        <div>
                            <mat-form-field>
                                <mat-label class="labelForm">Importe del Crédito (Sin IVA)</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label class="labelForm">IVA del Crédito</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-toolbar class="toolBarCat">
                                <span>Datos del Banco</span>
                            </mat-toolbar>
        
                            <mat-form-field>
                                <mat-label class="labelForm">Nombre del Banco</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label class="labelForm">Número de Cuenta</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label class="labelForm"># de Referencia</mat-label>
                                <input class="Input" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRÉSTAMO RECIBIDO -->
            <div [hidden]="Trece">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">No. de Contrato o No. de Tarjeta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Proveedor Financiero</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- PAGO DEL PRESTAMO -->
            <div class="row" [hidden]="Catorce">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Crédito</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">No. de Contrato o No. de Tarjeta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Proveedor Financiero</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe Pagado</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- INTERÉS PAGADO -->
            <div class="row" [hidden]="Quince">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Crédito a Pagar</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">No. de Contrato o No. de Tarjeta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Proveedor Financiero</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe de Interés Pagado</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">IVA</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- PRÉSTAMO OTORGADO -->
            <div [hidden]="Dieciseis">
                <mat-form-field>
                    <mat-label class="labelForm">No. de Contrato</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">Prestamo otorgado a</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label class="labelForm">Importe Otorgado</mat-label>
                    <input class="Input" matInput>
                </mat-form-field>
            </div>
            <!-- COBRO DEL PRÉSTAMO -->
            <div class="row" [hidden]="Diecisiete">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Crédito a Cobrar</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">No. de Contrato</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Préstamo Otorgado a</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe Cobrado</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Forma de Cobro</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- INTERÉS COBRADO -->
            <div class="row" [hidden]="Dieciocho">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Prestamo a Cobrar</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">No. de Contrato</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Préstamo Otorgado a</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe Cobrado</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">IVA</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Forma de Cobro</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- DEPRECIACIÓN-->
            <div class="row" [hidden]="Diecinueve">
            </div>
            <!-- IMPUESTOS -->
            <div class="row" [hidden]="Veinte">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Periodo</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Tipo de Impuesto</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Folio</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe Pagado</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Forma de Cobro</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- ISR -->
            <div class="row" [hidden]="Veintiuno">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label class="labelForm">Periodo</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Folio</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Folio</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
    
                    <mat-form-field>
                        <mat-label class="labelForm">Importe de ISR (Sin IVA)</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">IVA</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-toolbar class="toolBarCat">
                        <span>Datos del Banco</span>
                    </mat-toolbar>

                    <mat-form-field>
                        <mat-label class="labelForm">Nombre del Banco</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm">Número de Cuenta</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label class="labelForm"># de Referencia</mat-label>
                        <input class="Input" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>