<div class="container-fluid">
    <p-toast position="top-right" key="arribaDerecha"></p-toast>
    <div class="row">
        <mat-toolbar class="toolBarCat" [color]="'primary'">
            <span>MODELO EFECTIVO CAPTURA</span>
        </mat-toolbar>
        <div class="col-md-12">
            <div>
                <mat-form-field style="width: 50% !important;">
                    <mat-label class="labelForm">DÍA</mat-label>
                    <input class="Input" matInput type="date">
                </mat-form-field>
            </div>
            <div>
                <mat-tab-group #MTG (selectedTabChange)="changeTab(MTG.selectedIndex)">
                    <ng-container *ngFor="let tab of tabs; let index = index">
                        <mat-tab [aria-label]="tabsActivos(index)" *ngIf="closedTabs.indexOf(index) < 0">
                            <ng-template mat-tab-label>
                                <div class="col" style="margin-left: 20px;">{{tab.name}} </div>
                                <button *ngIf="tab.name !== 'Inicio'" tabindex="-1" style="color:black" mat-icon-button
                                  (click)="closeTab(index)">
                                  <mat-icon>close</mat-icon>
                                </button>
                              </ng-template>

                            <span [ngSwitch]="tab.tabType">
                                <div *ngSwitchCase="0">
                                    <div>
                                        <mat-form-field>
                                            <mat-label class="labelForm">Tipo de captura</mat-label>
                                            <mat-select (selectionChange)="addTab($event)" class="Input">
                                              <mat-option *ngFor="let P of Listado" [value]="P">
                                                {{P.DESCRIP}}
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="Info">
                                        <span>
                                        1) Traspasos Efectivo a Banco, Banco a Banco y Viceversa
                                        <br>
                                        2) Cobro a clientes => por crédito otorgado
                                        <br>
                                        3) Pago Crédito a Proveedores
                                        <br>
                                        4) Gasto de operación
                                        <br>
                                        5) Pago de Crédito a Acreedores
                                        <br>
                                        6) Pago de IVA (por ajuste o por pago)
                                        <br>
                                        7) Compra y Venta de Activos Fijos
                                        <br>
                                        8) Préstamo (recibido/entregado)
                                        <br>
                                        9) Pago/Cobro del préstamo
                                        <br>
                                        10) Interés pagado y cobrado
                                        <br>
                                        11) ISR e Impuestos Diversos
                                        <br>
                                        12) Depreciación
                                        </span>
                                    </div>
                                </div>

                                <div *ngSwitchCase="1">
                                    <div #figureContainer style="width: 90% !important;"></div>
                                  </div>
                                  <div *ngSwitchCase="2">
                                    <div #figureContainer2></div>
                                  </div>
                                  <div *ngSwitchCase="3">
                                    <div #figureContainer3></div>
                                  </div>
                            </span>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>