<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field>
                <mat-label class="labelForm">Folio o # de referencia</mat-label>
                <input class="Input" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label class="labelForm">DESTINO (¿Para qué?)</mat-label>
                <input class="Input" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label class="labelForm">Importe SALIDA DE BANCO</mat-label>
                <input class="Input" matInput>
            </mat-form-field>

            <div class="Info">SALIDA de BANCO ==> para tener EFECTIVO en CAJA</div>
        </div>

        <div class="col-md-8">
            <mat-toolbar class="toolBarCat">
                <span>Datos del Banco</span>
            </mat-toolbar>

            <mat-form-field>
                <mat-label class="labelForm">Nombre del Banco</mat-label>
                <input class="Input" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label class="labelForm">Numero de Cuenta</mat-label>
                <input class="Input" matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label class="labelForm"># Referencia</mat-label>
                <input class="Input" matInput>
            </mat-form-field>
        </div>
    </div>
</div>
