
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$proyectoSI-primary: mat-palette($mat-gray,800,700,600);
$proyectoSI-accent: mat-palette($mat-cyan, 900, 800, 700);
$primary:$proyectoSI-primary;
// The warn palette is optional (defaults to red).
$proyectoSI-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$proyectoSI-theme: mat-light-theme($proyectoSI-primary, $proyectoSI-accent, $proyectoSI-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($proyectoSI-theme);
/* You can add global styles to this file, and also import other style files */
// $font-size :100%;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$letrasGrandes: 140%;
$letraGrandeSelect:130%;
@mixin tamanioLetrasGrandes {
    font-size: $letrasGrandes !important;
}
@mixin tamanioLetrasGrandesSelect {
  font-size: $letraGrandeSelect !important;
}


.labelForm{
  @include tamanioLetrasGrandesSelect();
}

.Input{
  @include tamanioLetrasGrandes();
}

.headerGrid{
  // width: 50% !important;
  // float: left;
   display: inline-block;
}
.iconoOrdenamiento{
  float: left;
  // display: inline-block;
}


.Activo{
    background-color: #9e9e9e !important;
    color: #ffffff !important;
}
.Activo:active{
    background-color: #9e9e9e !important;
    color: #ffffff !important;
}
.Activo:focus{
  border: none !important;
}
.noActivo{
    background-color: white !important;
    color: black !important;
    border-color: white !important;

}
.noActivo:hover{
    background-color: #9e9e9e !important;
    color: #ffffff !important;
    border-color: white !important;

}
.noActivo:focus{
    // background-color: #9e9e9e !important;
    // color: #ffffff !important;
    border: none !important;
    border-color: white !important;
}

mat-dialog-container{
    padding: 0px !important;
    overflow: hidden !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
mat-form-field{
    width: 100% !important;
}

th{
    font-size: 100%;
}

td{
    font-size: 100%;
}
tr{
    font-size: 100%;
}

@media (min-width: 280px) {
    th {
      font-size: 50% !important;
    }
    td{
        font-size: 50%   !important;


    }
    tr{
        font-size: 50%   !important;


    }
    i{
        font-size: 50%   !important;


    }
  }
@media (min-width: 300px) {
    th {
      font-size: 75% !important;
    }
    td{
        font-size: 75% !important;

    }
    tr{
        font-size: 75% !important;

    }
    i{
        font-size: 75% !important;

    }
  }
  @media  (min-width: 768px) {
    th {
     @include tamanioLetrasGrandes()
    }
    td{
      @include tamanioLetrasGrandes()

    }
    tr{
        font-size: 100% !important;

    }
    i{
        font-size: 100% !important;

    }
  }
  @media (min-width: 992px) {
    th {
        font-size: 500px;
    }
    td{
        font-size: 80%;

    }
    tr{
        font-size: 80%;

    }
  }
  @media (min-width: 1200px) {
    .th {
        font-size: 500px;
    }
    td{
        font-size: 500px;

    }
    tr{
        font-size: 500px;

    }
  }


