<mat-toolbar class="toolbarAyudaVentana" mat-dialog-title [color]="'primary'">
    <span class="titulo-Ayuda-Ventana">{{TituloVentana}}</span>
    <mat-icon class="cerrar-estilo-Ayuda " (click)="CerrarVentana()">close</mat-icon>
</mat-toolbar>
<mat-dialog-content class="contenido-ayuda-ventana">
    <mat-toolbar class="toolbarMatDialog">
        <button mat-icon-button class="sinborde" tabindex="-1" matTooltip="Guardar" [matTooltipPosition]="'right'" (click)="guardar()">
            <mat-icon>save</mat-icon>
        </button>
    </mat-toolbar>
    <div class="container-fluid contenido">
        <app-peticiones-web [isCargando]="isCargando"></app-peticiones-web>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field  >
                    <mat-label>Código</mat-label>
                    <input matInput #inputCodigo [(ngModel)]="ManoSrv.CODIGO" (focus)="ObtenerFoco($event)" autocomplete="off" name="codigo" [disabled]="modo == 'MODIFICAR'"  (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field  >
                    <mat-label>Actividad</mat-label>
                    <input matInput #inputActividad [(ngModel)]="ManoSrv.ACTIVIDAD" (focus)="ObtenerFoco($event)" autocomplete="off"  (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field >
                <mat-label>Unidad de medida</mat-label>
                <mat-select [(ngModel)]="ManoSrv.UNIDAD_MEDIDA">
                  <mat-option *ngFor="let UnidadMedida of ListaUndidadMedida" [value]="UnidadMedida.NOMBRE">
                    {{UnidadMedida.NOMBRE}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-icon-button  (click)="ventanaDetalle('ALTA')"  tabindex="-1" matTooltip="Agregar Unidad de medida">
                <mat-icon>add</mat-icon>
            </button>
          </div>
            <div class="col-md-6">
                <mat-form-field >
                    <mat-label>Costo</mat-label>
                    <input matInput #inputVentAct [(ngModel)]="ManoSrv.COSTO" (focus)="ObtenerFoco($event)" autocomplete="off" (keypress)="validarTyping($event,'COSTO')" (blur)="perderFoco('COSTO')" (keydown)="presionaBoton($event)">
                </mat-form-field>
            </div>
        </div>
    </div>





</mat-dialog-content>
