<div class="container-fluid">
  <p-toast position="top-right" key="arribaDerecha"></p-toast>
  <mat-tab-group #MTG (selectedTabChange)="changeTab(MTG.selectedIndex)">
    <ng-container *ngFor="let tab of tabs; let index = index">
      <mat-tab
        [aria-label]="tabsActivos(index)"
        *ngIf="closedTabs.indexOf(index) < 0"
      >
      <mat-toolbar class="toolbarMatDialog">
        <button mat-icon-button class="sinborde" tabindex="-1"  matTooltip="Guardar"[matTooltipPosition]="'right'" (click)="guardar()">
            <mat-icon>save</mat-icon>
        </button>
    </mat-toolbar>
        <ng-template mat-tab-label>
          <div (click)="consulta()" class="col" style="margin-left: 20px">{{ tab.name }}</div>
          <button
            *ngIf="tab.name !== 'Balance Inicial'"
            tabindex="-1"
            style="color: black"
            mat-icon-button
            (click)="closeTab(index)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
        <span [ngSwitch]="tab.tabType">
          <div *ngSwitchCase="0">
            <div [hidden]="tab.tabType !== 0">
              <div class="container-fluid" style="overflow-y: auto !important">
                <div class="row">

                  <div class="col-md-12">
                    <span
                      >Solo se hace una vez. En el mes de instalacion del
                      programa</span
                    >
                    <br />
                    <span
                      >*Escribir los importes con los saldos iniciales en cada
                      una de las cuentas*</span
                    >
                    <br />
                    <span
                      >NOTA: En algunas cuentas debes dar Click para que te
                      lleve al lugar adecuado para escribir.</span
                    >
                  </div>

                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-5">
                        <div
                          style="
                            overflow-y: auto !important;
                            height: 50% !important;
                          "
                        >
                          <div class="col-md-12">
                            <mat-toolbar><span>ACTIVOS</span></mat-toolbar>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- CAJA -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Caja</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.CAJA" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'CAJA')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- BANCOS -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Bancos</mat-label>
                                <input class="Input" readonly (click)="addTab('Bancos')" currencyMask matInput #inputDias [(ngModel)]="BI.BANCOS" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Credito Clientes -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Crédito Clientes</mat-label>
                                <input class="Input" readonly (click)="addTab('Crédito Clientes')" currencyMask matInput #inputDias [(ngModel)]="BI.CREDITO_CLI" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- IVA por Cobrar -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Provisión IVA Pendiente Por Cobrar</mat-label>
                                <input class="Input" readonly (click)="addTab('Crédito Clientes')" currencyMask matInput #inputDias [(ngModel)]="BI.IVAxCOBRAR" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <!-- Separador -->
                          <div class="col-md-12">
                            <mat-toolbar>
                              <span></span>
                            </mat-toolbar>
                          </div>

                          <!-- <div class="col-md-12" style="width: 50%">
                            <mat-form-field  >
                                <mat-label class="labelForm">Almacen</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.ALMACEN" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div> -->

                          <div class="col-md-12" style="width: 50%">
                            <!-- Producto Comercial -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Producto Comercial</mat-label>
                                <input class="Input" readonly (click)="addTab('Producto Comercial')" currencyMask matInput #inputDias [(ngModel)]="BI.PRODUC_COM" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Producto Fabricado -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Producto Fabricado</mat-label>
                                <input class="Input" readonly (click)="addTab('Producto Fabricado')" currencyMask matInput #inputDias [(ngModel)]="BI.PRODUC_FABRI" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Producto en Proceso -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Producto en Proceso</mat-label>
                                <input class="Input" readonly (click)="addTab('Producto Proceso')" currencyMask matInput #inputDias [(ngModel)]="BI.PRODUCTO_PROCESO" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Materia Prima -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Materia Prima</mat-label>
                                <input class="Input" readonly (click)="addTab('Materia Prima')" currencyMask matInput #inputDias [(ngModel)]="BI.MATERIA_PRIMA" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <!-- Separador -->
                          <div class="col-md-12">
                            <mat-toolbar>
                              <span></span>
                            </mat-toolbar>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- IVA Acreditable -->
                            <mat-form-field  >
                                <mat-label class="labelForm">IVA Acreditable</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.IVA_ACREDITABLE" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Dudores Diversos -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Dudores Diversos</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.DEUDORES_DIV" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Total Circulante -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Total Circulante</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.TOTAL_CIRCULANTE" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <!--<div class="col-md-12" style="width: 50%" *ngFor="let Act of Activos">
                            <mat-form-field (click)="addTab(Act.NOMBRE)">
                              <mat-label class="labelForm">{{Act.NOMBRE}}</mat-label>
                              <input
                                class="Input"
                                matInput
                                #inputCodigo
                                autocomplete="off"
                                name="{{Act.NAME}}"
                                disabled="{{Act.ACTIVO}}"
                                [(ngModel)]="Activos[Act.MODELO]"
                              />
                            </mat-form-field>
                          </div>-->

                          <div class="col-md-12">
                            <mat-toolbar>
                              <span>ACTIVOS FIJOS</span>
                            </mat-toolbar>
                          </div>

                          <div class="col-md-12" style="width: 50%" *ngFor="let ActF of ActivosFijos">
                            <mat-form-field >
                              <mat-label class="labelForm">{{ActF.NOM_CAT}}</mat-label>
                              <input
                                class="Input"
                                matInput
                                #inputCodigo
                                autocomplete="off"
                                value="{{ActF.ACUMULADO_INI}}"
                                [options]="mascaraMoneda"
                                currencyMask
                                (click)="addTab('Activos Fijos')"
                                readonly
                              />
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Total Activos Fijos -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Total Fijos</mat-label>
                                <input class="Input" readonly (click)="addTab('Activos Fijos')" currencyMask matInput #inputDias [(ngModel)]="BI.TOTAL_AF" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <!-- <div class="col-md-12" style="width: 50%" *ngFor="let ActF of ActivosFijos">
                            <mat-form-field (click)="addTab(ActF.NOMBRE)">
                              <mat-label class="labelForm">{{ActF.NOMBRE}}</mat-label>
                              <input
                                class="Input"
                                matInput
                                #inputCodigo
                                autocomplete="off"
                                name="{{ActF.NAME}}"
                                disabled="{{ActF.ACTIVO}}"
                              />
                            </mat-form-field>
                          </div> -->

                          <div class="col-md-12">
                            <mat-toolbar>
                              <span></span>
                            </mat-toolbar>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Total Activos -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Total Activos</mat-label>
                                <input class="Input" readonly currencyMask matInput #inputDias [(ngModel)]="BI.TOTAL_ACTIVOS" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                        </div>
                      </div>

                      <div class="col-md-2"><!--Separación--></div>

                      <div class="col-md-5">
                        <div
                          style="
                            overflow-y: auto !important;
                            height: 45% !important;
                          "
                        >
                          <div class="col-md-12">
                            <mat-toolbar
                              ><span>PASIVO A CORTO PLAZO</span></mat-toolbar
                            >
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Crédito Proveedores -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Crédito Proveedores</mat-label>
                                <input class="Input" readonly (click)="addTab('Crédito Proveedores')" currencyMask matInput #inputDias [(ngModel)]="BI.CREDITO_PROV" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Provisión IVA Pend. x Pagar -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Provisión IVA Pend. x Pagar</mat-label>
                                <input class="Input" readonly (click)="addTab('Crédito Proveedores')" currencyMask matInput #inputDias [(ngModel)]="BI.PROV_IVAxPAGAR" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Acreedores diversos -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Acreedores diversos</mat-label>
                                <input class="Input" readonly (click)="addTab('Acreedores Diversos')" currencyMask matInput #inputDias [(ngModel)]="BI.ACREEDORES_DIV" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Nomima Destajo -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Nomima Destajo</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.NOMINA_DESTAJO" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Nomima Indirecta -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Nomima Indirecta</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.NOMINA_INDIRECTA" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Deuda Por Créditos -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Deuda Por Créditos</mat-label>
                                <input class="Input" readonly (click)="addTab('Deuda Por Créditos')" currencyMask matInput #inputDias [(ngModel)]="BI.DEUDA_CRE" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- IVA Por Pagar -->
                            <mat-form-field  >
                                <mat-label class="labelForm">IVA Por Pagar</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.IVAxPAGAR" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <div class="col-md-12" style="width: 50%">
                            <!-- Total Pasivos -->
                            <mat-form-field  >
                                <mat-label class="labelForm">Total Pasivos</mat-label>
                                <input class="Input" currencyMask matInput #inputDias [(ngModel)]="BI.TOTAL_PASIVOS" [options]="mascaraMoneda"  [maxLength]="16"  autocomplete="off" (keypress)="validarTyping($event,'BANCOS')" (focus)="ObtenerFoco($event)">
                            </mat-form-field>
                          </div>

                          <!-- <div class="col-md-12" style="width: 50%" *ngFor="let Pas of Pasivos">
                            <mat-form-field (click)="addTab(Pas.NOMBRE)">
                              <mat-label class="labelForm">{{Pas.NOMBRE}}</mat-label>
                              <input
                                class="Input"
                                matInput
                                #inputCodigo
                                autocomplete="off"
                                name="{{Pas.NAME}}"
                                disabled="{{Pas.ACTIVO}}"
                              />
                            </mat-form-field>
                          </div> -->

                          <div class="col-md-12">
                            <mat-toolbar
                              ><span>Capital (Patrimonio)</span></mat-toolbar
                            >
                          </div>

                          <div class="col-md-12" style="width: 50%" *ngFor="let Cap of Capital">
                            <mat-form-field (click)="addTab(Cap.NOMBRE)">
                              <mat-label class="labelForm">{{Cap.NOMBRE}}</mat-label>
                              <input
                                class="Input"
                                matInput
                                #inputCodigo
                                autocomplete="off"
                                name="{{Cap.NAME}}"
                                disabled="{{Cap.ACTIVO}}"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="1">
            <div #figureContainer></div>
          </div>
          <div *ngSwitchCase="2">
            <div #figureContainer2></div>
          </div>
          <div *ngSwitchCase="3">
            <div #figureContainer3></div>
          </div>
          <div *ngSwitchCase="4">
            <div #figureContainer4></div>
          </div>
          <div *ngSwitchCase="5">
            <div #figureContainer5></div>
          </div>
          <div *ngSwitchCase="6">
            <div #figureContainer6></div>
          </div>
          <div *ngSwitchCase="7">
            <div #figureContainer7></div>
          </div>
          <div *ngSwitchCase="8">
            <div #figureContainer8></div>
          </div>
          <div *ngSwitchCase="9">
            <div #figureContainer9></div>
          </div>
          <div *ngSwitchCase="10">
            <div #figureContainer10></div>
          </div>
        </span>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
